* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

.wrapper{
    
    width: 1000px;
    position:relative;
    left: 27%

}
.left-block{

}
#section{
    background: #ebebeb;
    width: 495px;
    height: 380px;
    position: relative;
    justify-content: center;
    padding-top: 41px;
    padding-left: 220px;

}

#header{
    background: #ebebeb;
    text-align: center;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 44px;

}
#nav{
    background: #ebebeb;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 41px;
}
#article{
    color: #ebebeb;
    background: #777;
    position: absolute;
    width: 475px;
    height: 250px;
    bottom: 10px;
    left: 10px;
    justify-content: center;
    padding-top: 20px;
    padding-left: 220px;

}
#h1{
    color: #777;
    background: #ebebeb;
    position: absolute;
    width: 445px;
    height: 75px;
    left: 22.5px;
    top: 180px;
    justify-content: center;
    padding-top: 28.5px;
    padding-left: 175px;
   

}
#paragraph{
    color: #777;
    background: #ebebeb;
    position: absolute;
    width: 445px;
    height: 75px;
    left: 22.5px;
    top: 250px;
    justify-content: center;
    padding-top: 10px;
    padding-left: 220px;
    margin-top: 15px;
}
#aside{
    background: #ebebeb;
    width: 465px;
    height: 380px;
    position: relative;
    left: 535px;
    top: -380px;
    float: left;
    padding-top: 41px;
    padding-left: 270px;

}
#footer{
    background: #ebebeb;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -375px;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 41px;
}